* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: TerminessTTF Nerd Font, FontAwesome, Arial, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-weight: normal;
}

#waybar{
	border: 2px solid @text;
	border-radius: 8px;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 1.0);*/
    background-color: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #EBDBB2;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
    border-radius: 0px;
    /*margin: 5px 5px;*/
}

#workspaces button {
    background-color: transparent;
    color: #ebdbb2;
    padding: 0 10px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.5);
    /*box-shadow: inherit;
    text-shadow: inherit; */
}

#workspaces button.focused {
    background-color: #ebdbb2;
    color: #282828;
    /* box-shadow: inset 0 -3px #282828; */
    border-radius: 2px;
    padding: 0 5px;
    margin: 5px 5px;
}

#workspaces button.unfocused {
    color: #ebdbb2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #ebdbb2;
    color: #282828;
    padding: 0 5px;
    margin: 4px 2px;
    min-width: 16px;
}

#battery {
    background-color: #ebdbb2;
    color: #282828;
	padding: 0 5px;
	margin: 4px 2px;
	min-width: 16px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #fb0f0f;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #ebdbb2;
    color: #282828;
    padding: 0 5px;
    margin: 3px 5px;
    min-width: 16px;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #ebdbb2;
    color: #282828;
    padding: 0 5px;
    margin: 4px 2px;
    min-width: 16px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #ebdbb2;
    color: #282828;
    padding: 0 5px;
    margin: 4px 2px;
    min-width: 16px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
	background-color: #ebdbb2;
	color: #282828;
	padding: 0 5px;
	margin: 5px 5px;
	min-width: 16px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #ebdbb2;
    color: #282828;
    padding: 0 5px;
    margin: 5px 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.5);
    color: #ebdbb2;
    padding: 0 5px;
    margin: 5px 5px;
}

#scratchpad.empty {
	background-color: transparent;
}
